@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.everything {
  background: repeating-linear-gradient(
    45deg,
    rgb(255, 222, 218),
    rgb(255, 222, 218) 10px,
    white 10px,
    white 20px
  );
  min-height: 100vh;
}

.App {
  margin: 10px auto;
  padding: 50px;
  max-width: 950px;
  min-width: 375px;
  
  text-align: center;
  
  background: rgb(37, 173, 173);
  
  border: 3px solid darksalmon;
  border-radius: 0px 40px 40px;
}

.container{
  
}

.header{
  margin: 0px auto;
  padding: 10px 50px;
  height: 75px;
  
  border-radius: 0px 20px 20px;

  position: relative;

  z-index: 5;
}

.header-nav {
  float: right;
  margin-top: 10px;
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 6;
  transform: none;
}

.hamburger {
  display: none;
  height: 60px;
  width: 60px;
  
  position: absolute;
  right: 20px;
}

.header img {
  height: 75px;
  cursor: pointer;
  float: left;
}

main h1 {
  width: fit-content;
  margin: 50px auto;
  padding-bottom: 15px;

  border-bottom: 5px dotted darksalmon;
  
  color:  rgb(0, 31, 31);
}

.App h1 {
  font-size: 100px;
}

.secondary-title {
  font-family: 'Indie Flower';
  font-size: 40px;
}

input,
textarea {
  background: rgb(255, 222, 218);
  border: none;
  border-radius: 5px 0px 5px 0px;
  margin-right: 2px;
  color: black;
}

::placeholder {
  color: black;
  font-size: 16px;
  font-family: sans-serif;
}

/* button styles */
button {
  padding: 5px;
  margin: 3px 10px;

  background-color: rgb(0, 46, 46);
  border: none;
  border-radius: 7px;
  box-shadow: 0px 3px 3px black;

  color: rgb(37, 173, 173);
  font-weight: bold;

  cursor: pointer;
}

button:hover {
  color: rgb(185, 119, 97);
}

button:active {
  transform: translate(-2px, 2px);
  box-shadow: none;
}

.nav-button {
  padding: 10px 15px;
  margin-bottom: 10px;
}

.delete-button{
  height: 15px;
  width: 16px;
  border-radius: 50%;
  font-size: 10px;
  padding: 0px;
}

/* recipe view  */
.recipe-view {
  margin: auto;
}

li {
  margin-top: 10px;
}

.name-input {
  margin: 20px;
  text-align: center;
  font-family: 'Indie Flower';
  font-size: 30px;
}

.name-input::placeholder {
  font-family: 'Indie Flower';
  font-size: 30px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

.left-content {
  width: 550px;
  border-right: 5px dotted darksalmon;
  padding-right: 50px;
}

.equipment-display,
.ingredients-display,
.directions-display {
  text-align: left;
}

.directions-display {
  margin-left: 50px;
  min-width: 450px;
}

.name {
  font-family: 'Indie Flower';
  font-size: 30px;
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

/* recipe builder */

@media (max-width: 850px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
  }

  .content h2 {
    text-align: center;
  }
  
  .left-content {
    border-right: none;
    border-bottom: 5px dotted darksalmon;
    width: 300px;
    margin:auto;
  }

  .directions-display {
    margin: auto;
    min-width: 0px;
  }
}

@media (max-width: 675px) {
  .App h1 {
    font-size: 50px;
  }
  .secondary-title {
    font-size: 20px;
  }
  
.hamburger {
  display: block;
}

  .header-nav {
    width: 150px;
    padding: 10px;

    position: absolute;
    top: 110px;
    right: -200px;
    z-index: 0;

    display: none;

    background: repeating-linear-gradient(
    45deg,
    rgb(255, 222, 218),
    rgb(255, 222, 218) 10px,
    white 10px,
    white 20px
  );
  border: 5px solid darksalmon;
  border-radius: 0px 20px 20px;

  transition: transform 300ms;
  }
  
  .header-nav button {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .App {
    padding: 0px;
  }
}

.shown {
  transform: translate(-200px, 0);
  display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 675px) {
  .header-nav {
    transform: none;
    display: block;
  }
}